a {
	text-decoration: none;
	color: cyan;
}

body {
	display: flex;
	justify-content: center;
	align-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(Image/buleleng-bali-indo-rumah-zengarden-villa-lovina-picture-1.png);
	background-attachment: fixed;
	background-position: center;

}

.page-wrapper {
	position: fixed;
	margin-top: 200px;
	height: 40vh;
	width: 30vw;
	overflow-y: scroll;
	transform: skew(50deg, -20deg);
}

.page-wrapper p {
	color: rgb(255, 255, 255);
}

h1,h2,h3,h4 {
	color: white;
	text-decoration: underline;
}

@media (max-height:600px)   {
	.page-wrapper{
		margin-top: 20%;
		height: 50%;
	}
	
}