body {
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(Image/Untitled-1.png);
	background-attachment: fixed;
	max-height: 100%;
}

.page-wrapper {
	position: fixed;
	margin-top: 20%;
	margin-left: 40%;
	margin-right: 30%;
	height: 50%;
	overflow-y: scroll;
	transform: skew(50deg, -20deg);
	animation: horizontal-shaking 0.5s infinite;
}

@keyframes horizontal-shaking {
0% { transform: translateX(0) }
25% { transform: translateX(10px) }
50% { transform: translateX(-5px) }
75% { transform: translateX(5px) }
100% { transform: translateX(0) }
}

p{
	color: white;
}

h1,h2,h3,h4 {
	color: white;
}